@page "/adduser"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<h2>Add User</h2>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="username"> User Name</label>
            <input form="username" class="form-control" @bind="@user.username" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="fullname"> FullName</label>
            <input form="fullname" class="form-control" @bind="@user.fullname" />
        </div>
    </div>
    <div class="col-md-6">
        <label for="date">Ngày sinh:</label>
        <input type="date" form="date" class="form-control" @bind="@user.date">
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="gender">Gender</label>
            <select form="gender" class="form-control" @bind="@user.gender">
                <option value=null>Chọn</option>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Khác">Khác</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="address"> Address</label>
            <input form="address" class="form-control" @bind="@user.address" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="phone"> Phone</label>
            <input form="phone" class="form-control" @bind="@user.phone" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>
@code {
    UserViewModel user = new UserViewModel();
    protected override async Task OnInitializedAsync()
    {
    }
    protected async Task Save()
    {
        user.idPermission = 1;
        user.password = "123456";
        user.status = 1;
        var response = await Http.PostAsJsonAsync("api/user", @user);
        UserViewModel userResponse = await response.Content.ReadFromJsonAsync<UserViewModel>();
        if (userResponse?.username != null)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Saved Successfully!");
            NavigationManager.NavigateTo("user");
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", @user.status);
        }
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("user");
    }
}